
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root{
  --light-gray : #d6e2f0;
  --grayish-blue: #7b879d;
  --dark-blue: #1f3251;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--light-gray);
  font-family: 'Outfit', sans-serif;
  text-align: center;
}

h1{
  font-size: 1.5rem;
  color: var(--dark-blue);
}

p{
   font-size: 15px;
   font-weight: 400 ;
   color: var(--grayish-blue);
}
